* {
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(36, 36, 56);
    --secondary-color: #F6F5F4;
    --tertiary-color: #00FFFF;
    --text-color: rgb(36, 36, 56);;
}

body {
    font-family: 'Inter';
}

.container {
    display: grid;
    grid-template-rows: 10vh 90vh;

    border-radius: 16px;
    background-color: var(--primary-color);
}

.header {
    display: grid;
    
    grid-template-columns: 90% 10%;
    align-items: center;
    padding: 15px;

    color: var(--tertiary-color);
    font-size: 3rem;
    
}

.addBook {
    color: var(--text-color);
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--secondary-color);
}